<!DOCTYPE html>
<html>
<body>

<h2>Search Locations</h2>

{% block content %}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.lat.label }}<br>
            {{ form.lat(size=32) }}
        </p>
        <p>
            {{ form.lon.label }}<br>
            {{ form.lon(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}


        {% block body %}
            {{map.html}}
            {{map.js}}
        {% endblock %}
</body>
</html>